<form (submit)="addPost_Project()">
 <div class="card">
      <div class="card-body">
      <h2>Projects</h2>  
      <br>
      <input placeholder="Profile Id" type="text" [(ngModel)]="newPost_Project.profileId" name="profileId">
      <br>
      <br>
      <input placeholder="Project Id" type="text" [(ngModel)]="newPost_Project.projectId" name="proId">
      <br>
      <br>
      <input placeholder="Project At" type="text" [(ngModel)]="newPost_Project.projectAt" name="proAt">
      <br>
      <br>
      <input placeholder="Role" type="text" [(ngModel)]="newPost_Project.role" name="role">
      <br>    
      <br>
      <input placeholder="Department" type="text" [(ngModel)]="newPost_Project.department" name="dept">
      <br>
      <br>
      <input placeholder="Project Location" type="text" [(ngModel)]="newPost_Project.projectLocation" name="loc">
      <br>
      <br>
      <input placeholder="Project Title" type="text" [(ngModel)]="newPost_Project.projectTitle" name="title">
      <br>
      <br>
      <input placeholder="Team Size" type="text" [(ngModel)]="newPost_Project.teamSize" name="team">
      <br>
      <br>
      <input placeholder="Start date" type="text" [(ngModel)]="newPost_Project.from" name="from">
      <br>
      <br>
      <input placeholder="End date" type="text" [(ngModel)]="newPost_Project.to" name="to">
      <br>
      <br>
      <input placeholder="Synopsis" type="text" [(ngModel)]="newPost_Project.synopsis" name="synopsis">
      <br>
      <br>
      <input placeholder="Url" type="text" [(ngModel)]="newPost_Project.url" name="url">
      <br>
      <br>
      <input placeholder="demoURL" type="text" [(ngModel)]="newPost_Project.demoURL" name="demo">
      <br>
      <br>
      <input placeholder="Skills" type="text" [(ngModel)]="newPost_Project.skills" name="skills">
      <br>
      <br>
      <input placeholder="Message" type="text" [(ngModel)]="newPost_Project.message" name="mess">
    
     <br>
     <br>
     <button color="warn" type="submit" value="submit">Post</button>
    </div>
  </div>  
  </form>