<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="check" href="#">Matchmaker App</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
</nav>      
<h1 id="welcome">Welcome to Matchmaker</h1>

<!-- <input type="button" id="add-btn" value="+"/> -->
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search by
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Personal Information</a></li>
    <li><a href="#">Skills</a></li>
    <li><a href="#">Experience</a></li>
    <li><a href="#">Location</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Training and Certification</a></li>
    <li><a href="#">Academic Qualification</a></li>
  </ul>
</div>

<div class="container">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Personal Information</a></li>
      <li><a href="#tab2" data-toggle="tab">Skills</a></li>
      <li><a href="#tab3" data-toggle="tab">Experience</a></li>
      <li><a href="#tab4" data-toggle="tab">Location</a></li>
      <li><a href="#tab5" data-toggle="tab">Projects</a></li>
      <li><a href="#tab6" data-toggle="tab">Certificates</a></li>
      <li><a href="#tab7" data-toggle="tab">Academic Qualifications</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <app-personal-info></app-personal-info>
      </div>
      <div class="tab-pane" id="tab2">
       <app-skills></app-skills>
      </div>
      <div class="tab-pane" id="tab2">
       <app-experience></app-experience>
      </div>
      <div class="tab-pane" id="tab3">
        <app-location></app-location>
      </div>
      <div class="tab-pane" id="tab4">
        <app-projects></app-projects> 
      </div>
      <div class="tab-pane" id="tab5">
       <app-certificates></app-certificates>
      </div>
      <div class="tab-pane" id="tab6">
        <app-academic-qualifications></app-academic-qualifications>   
      </div>
      </div>
    </div>
  </div>      