<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="check" href="#">Matchmaker App</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
</nav>      

<!-- <input type="button" id="add-btn" value="+"/> -->
<div class="container">
 <h1 id="welcome">Welcome to Matchmaker</h1>
 <div class="dropdown">
   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search by
   <span class="caret"></span></button>
   <ul class="dropdown-menu">
    <li><a href="#" (click)="select_PI()">Personal Information</a></li>
    <li><a href="#" (click)="select_Skills()">Skills</a></li>
    <li><a href="#" (click)="select_Exp()">Experience</a></li>
    <li><a href="#" (click)="select_Loc()">Location</a></li>
    <li><a href="#" (click)="select_Proj()">Projects</a></li>
    <li><a href="#" (click)="select_Train()">Training and Certification</a></li>
    <li><a href="#" (click)="select_Academy()">Academic Qualification</a></li>
   </ul>
 </div>

 <br>
 <div *ngIf="PI_check">
   <app-personal-info></app-personal-info>
 </div>
 <div *ngIf="Skills_check">
   <app-skills></app-skills>
 </div>
 <div *ngIf="Exp_check">
   <app-experience></app-experience>
 </div>
 <div *ngIf="Loc_check">
   <app-location></app-location>
 </div>
 <div *ngIf="Proj_check">
   <app-projects></app-projects> 
 </div>
 <div *ngIf="Train_check">
   <app-certificates></app-certificates>
 </div>
 <div *ngIf="Acad_check">
   <app-academic-qualifications></app-academic-qualifications>
 </div>
 
 <!-- <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Personal Information</a></li>
      <li><a href="#tab2" data-toggle="tab">Skills</a></li>
      <li><a href="#tab3" data-toggle="tab">Experience</a></li>
      <li><a href="#tab4" data-toggle="tab">Location</a></li>
      <li><a href="#tab5" data-toggle="tab">Projects</a></li>
      <li><a href="#tab6" data-toggle="tab">Certificates</a></li>
      <li><a href="#tab7" data-toggle="tab">Academic Qualifications</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <app-personal-info></app-personal-info>
      </div>
      <div class="tab-pane" id="tab2">
       <app-skills></app-skills>
      </div>
      <div class="tab-pane" id="tab2">
       <app-experience></app-experience>
      </div>
      <div class="tab-pane" id="tab3">
        <app-location></app-location>
      </div>
      <div class="tab-pane" id="tab4">
        <app-projects></app-projects> 
      </div>
      <div class="tab-pane" id="tab5">
       <app-certificates></app-certificates>
      </div>
      <div class="tab-pane" id="tab6">
        <app-academic-qualifications></app-academic-qualifications>   
      </div>
      </div>
    </div>
  </div>       -->